name: Python tests
on:
  push:
    branches:
      - master
    tags:
  pull_request:
    branches:
      - master

env:
  DEBIAN_FRONTEND: noninteractive
  TOX_VERSION: 3.23.0
jobs:
  py27:
    name: py27
    runs-on: ubuntu-latest
    container:
      image: ros:noetic-ros-core-buster
    steps:
    - uses: actions/checkout@v2
    - name: Set up ROS
      run: |
          apt-get update -y
          apt-get install -y --no-install-recommends \
            ros-noetic-genmsg \
            ros-noetic-genpy \
            ros-noetic-geometry-msgs \
            ros-noetic-nav-msgs \
            ros-noetic-sensor-msgs \
            ros-noetic-std-msgs
    - name: Set up Python
      run: |
          apt-get install -y --no-install-recommends python-setuptools python-pip
          pip install tox==${{ env.TOX_VERSION }}
    - name: Run pytest
      run: |
          tox -e py27
  py38:
    name: py38
    runs-on: ubuntu-latest
    container:
      image: ros:noetic-ros-core
    steps:
    - name: Set up git
      run: |
          # actions/checkout@v2 requires git>=2.18, which is available in noetic-ros-core (focal)
          # So we don't need to use ppa
          apt-get update -y
          apt-get install -y --no-install-recommends git
    - uses: actions/checkout@v2
    - name: Set up ROS
      run: |
          apt-get install -y --no-install-recommends \
            ros-noetic-geometry-msgs \
            ros-noetic-nav-msgs \
            ros-noetic-sensor-msgs \
            ros-noetic-std-msgs
    - name: Set up Python
      run: |
          apt-get install -y --no-install-recommends \
            python3-pip \
            python3.8 \
            python3.8-dev
          pip3 install tox==${{ env.TOX_VERSION }}
    - name: Run pytest
      run: |
          tox -e py38
